* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2a9d8f;
  --text: #12343b;
  --background: #fafaf7;
  --white: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text);
  background-color: var(--background);
  line-height: 1.5;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  background-color:var(--background);
}
footer{
   padding: 1.5rem;
  text-align: center;
  border-top: 1px solid #ddd;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

a {
  color: var(--text);
  text-decoration: none;
}
a:hover {
  color: var(--primary);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  text-align: center;
}

section > p {
  text-align: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Hero */

#hero {
  min-height: 100vh;
  background-image: url("images/hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

#hero p {
  font-size: 1.5rem;
}

/* Trips */

#trips {
  padding: 5rem 2rem;
}

.trips-grid {
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  max-width: 1600px;
  margin: 0 auto;
}
.trips-grid article {
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
}
.trips-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.trips-intro {
  margin-bottom: 4rem;
}
.card-content {
  padding: 1.5rem;
}
.card-content h3 {
  margin-bottom: 0.5rem;
}
.card-content p:last-child {
  margin-top:0.5rem;
  font-weight: 700;
}
/* Book Your Trip */

#book-your-trip {
  min-height: 100vh;
  background-image: url("images/CTA.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6rem;

  text-align: center;
}

.cta-content {
  text-align: center;
  color: var(--white);
}

.cta-content h2 {
  margin-bottom: 1.5rem;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.cta-content a {
  display: inline-block;
  padding: 1rem 2.5rem;
  background-color: var(--text);
  font-weight: 700;
  border-radius: 4px;
  color: var(--white);
}

/* Testimonials */

#testimonials {
  padding: 6rem 2rem;
}
#testimonials > h2 {
  margin-bottom: 5rem;
}
.testimonials-container {
  display: flex;
  justify-content: space-between;
  gap: 7rem;
  max-width: 1500px;
  margin: 0 auto;
}

.testimonials-container article {
  max-width: 350px;
  text-align: center;
}

.testimonials-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testimonials-container h3 {
  margin-bottom: 0.75rem;
}